gestao-planos-telefonia.backend/.vs/
gestao-planos-telefonia.backend/copilot-chat/
gestao-planos-telefonia.backend/copilotIndices/
gestao-planos-telefonia.backend/bin/
gestao-planos-telefonia.backend/obj/
gestao-planos-telefonia.frontendnode_modules/