@use '../../../assets/styles/basics.scss';

.cards-flex-container {
  display: flex;
  column-gap: 1%;
  margin: 1.5rem 0;
}
  
.big-number {
  font-size: 48px;
  font-weight: bold;
  color: #5897fb;
  margin-bottom: 30px;

  &-title{
    font-size: 22px;
    font-weight: 500;
    color: #5897fb;
  }

  &-icon {
    font-size: 28px;
    color: #5897fb;
    border-color: var(--main-color);
  }
}

.charts-section-header {
  border-top: 2px solid var(--main-color);
  padding-top: 1.5rem;
  display: flex;
  column-gap: 5vw;
  justify-content: space-between;
}

.chart-card {
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 1.5rem;
  background-color: var(--bkg-card-color);
  width: 100%;
}

.chart-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color);;
  display: flex;
  justify-content: center;
  text-align: center;
}

.chart-subtitle {
  text-align: justify;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.placeholder {
  height: 34vh;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
}

.placeholder::before {
  content: "";
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: loading 1.5s infinite;
}


@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media (max-width: 768px) {
  .cards-flex-container {
    flex-direction: column;
  }

  .card, .chart-card {
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .chart-title {
    font-size: 1rem;
  }
}