@if(!loadingService.loading()) {
  <div class="absolute w-full h-full flex items-center justify-around" [ngClass]="{'grid justify-center content-start' : responsiveService.isMobile()}">
    <div [class]="responsiveService.isMobile() ? 'w-[20em] my-8' : 'w-[30em]'">
      <img src="assets/images/gpt-logo-blue.svg" alt="Gestão de Planos de Telefonia" class="logo"/>
    </div>
    <p-card class="" [style]="{ width: responsiveService.isMobile() ? '20em' : '35em', overflow: 'hidden' }">
      <ng-template #title> Acesse sua conta </ng-template>
      <ng-template #subtitle> 
        <div class="flex">
          <div class="mr-1">{{ isCreatingAccount() ? 'Já possui conta?' : 'Novo usuário?' }}</div>
          <div (click)="toggleAccountCreation()" class="text-blue-500 font-semibold cursor-pointer hover:underline">
            {{ isCreatingAccount() ? 'Fazer Login' : 'Crie uma conta' }}
          </div>
        </div>
      </ng-template>
      <ng-template #content>
        <form [formGroup]="userForm" class="needs-validation" novalidate #ngForm="ngForm" (ngSubmit)='isCreatingAccount() ? createUser() : login()'>
          @if(isCreatingAccount()) {
            <div class="mb-6">
              <input type="text" pInputText formControlName="name" placeholder="Nome"/>
              @if(ngForm.submitted && nameFormField && nameFormField.invalid) {
                <small class="is-invalid">
                  Nome é obrigatório
                </small>
              }
            </div>
          }
          <div class="mb-6">
            <input type="email" pInputText formControlName="email" placeholder="E-mail"/>
              @if(ngForm.submitted && emailFormField && emailFormField.invalid) {
                <small class="is-invalid">
                  {{emailFormField.errors?.['required'] ? 'E-mail é obrigatório' : 'Forneça um e-mail válido'}}
                </small>
              }
          </div>
          <div class="mb-6">
            <p-password formControlName="passwordHash" placeholder="Senha" autocomplete="on" appendTo="body" [feedback]="isCreatingAccount()" [toggleMask]="true" 
              promptLabel="Digite sua senha" weakLabel="Senha Fraca" mediumLabel="Senha Média" strongLabel="Senha Forte"
              (keyup.enter)="ngForm.ngSubmit">
              <ng-template #footer>
                <p-divider />
                <ul class="pl-2 ml-2 my-0 leading-normal">
                  <li><i [ngClass]="passwordFormField?.value?.match('(?=.*[A-Z])') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 letra maiúscula</li>
                  <li><i [ngClass]="passwordFormField?.value?.match('(?=.*[a-z])') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 letra minúscula</li>
                  <li><i [ngClass]="passwordFormField?.value?.match('(.*[0-9].*)') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 número</li>
                  <li><i [ngClass]="passwordFormField?.value?.match('(?=.*[!@#$%^&*])') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 caracter especial</li>
                  <li><i [ngClass]="passwordFormField?.value?.match('(.{8,})') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 8 caracteres</li>
                </ul>
              </ng-template>
            </p-password>
            @if(ngForm.submitted && passwordFormField && passwordFormField.invalid) {
              <small class="is-invalid">
                {{passwordFormField.errors?.['required'] ? 'Senha é obrigatório' : 'Senha fora do padrão'}}
              </small>
            }
          </div>
  
          <div class="text-center mt-8">
            <button type="submit"
              class="bg-[#5897fb] text-white text-sm font-bold py-4 rounded-full shadow hover:shadow-lg w-2/3 cursor-pointer disabled:opacity-50">
              {{ isCreatingAccount() ? 'Criar conta' : 'Acessar' }}
            </button>
  
            <div class="w-full content-center justify-center py-3">
              <div class="w-full justify-center flex items-center">
                <p-divider class="w-1/2 text-center"><span>ou</span></p-divider>
              </div>
              <div class="flex items-center justify-center">
                <div id="google-sign" pTooltip="Continuar com Google" tooltipPosition="left"></div>
                <p-button
                  icon="pi pi-user"
                  [rounded]="true"
                  [text]="false"
                  class="ml-3 rounded-full bg-white cursor-pointer disabled:opacity-50"
                  pTooltip="Continuar como visitante"
                  tooltipPosition="left"
                  size="large"
                  (onClick)="loginAsGuest()"
                ></p-button>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </p-card>
  </div>
}
