<div class="absolute top-0 w-full h-full bg-linear-to-r from-gray-900 to-blue-500 flex items-center justify-center" style="background-size: 100%; background-repeat: no-repeat;">

  <div style="width: 20em; position: absolute; top: 1rem;">
    <img src="assets/images/gpt-logo-white.svg" alt="Gestão de Planos de Telefonia" class="logo"/>
  </div>
  <p-card class="" [style]="{ width: responsiveService.isMobile() ? '20em' : '35em', overflow: 'hidden' }">
    <ng-template #title> Acesse sua conta </ng-template>
    <ng-template #subtitle> 
      <div class="flex">
        <div class="mr-1">{{ isCreatingAccount() ? 'Já possui conta?' : 'Novo usuário?' }}</div>
        <div (click)="toggleAccountCreation()" class="text-blue-500 font-semibold cursor-pointer hover:underline">
          {{ isCreatingAccount() ? 'Fazer Login' : 'Crie uma conta' }}
        </div>
      </div>
    </ng-template>
    <ng-template #content>
      <form [formGroup]="userForm" class="needs-validation" novalidate #ngForm="ngForm" (ngSubmit)='isCreatingAccount() ? createUser() : login()'>
        @if(isCreatingAccount()) {
          <div class="mb-6">
            <input type="text" pInputText formControlName="name" placeholder="Nome"/>
            @if(ngForm.submitted && nameFormField && nameFormField.invalid) {
              <small class="is-invalid">
                  Nome é obrigatório.
              </small>
            }
          </div>
        }
        <div class="mb-6">
          <input type="email" pInputText formControlName="email" placeholder="E-mail"/>
            @if(ngForm.submitted && emailFormField && emailFormField.invalid) {
              <small class="is-invalid">
                @if(emailFormField.errors?.['required']) {
                  E-mail é obrigatório.
                }
                @else {
                  Forneça um e-mail válido
                }
              </small>
            }
        </div>
        <div class="mb-6">
          <p-password formControlName="passwordHash" placeholder="Senha" autocomplete="on" appendTo="body" [feedback]="isCreatingAccount()" [toggleMask]="true" 
            promptLabel="Digite sua senha" weakLabel="Fraca" mediumLabel="Média" strongLabel="Forte"
            (keyup.enter)="isCreatingAccount() ? createUser() : login()">
            <ng-template #footer>
              <p-divider />
              <ul class="pl-2 ml-2 my-0 leading-normal">
                <li><i [ngClass]="passwordFormField?.value?.match('(?=.*[A-Z])') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 letra maiúscula</li>
                <li><i [ngClass]="passwordFormField?.value?.match('(?=.*[a-z])') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 letra minúscula</li>
                <li><i [ngClass]="passwordFormField?.value?.match('(.*[0-9].*)') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 número</li>
                <li><i [ngClass]="passwordFormField?.value?.match('(?=.*[!@#$%^&*])') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 1 caracter especial</li>
                <li><i [ngClass]="passwordFormField?.value?.match('(.{8,})') ? 'mr-2 pi pi-check-circle text-green-600' : 'mr-2 pi pi-times-circle text-red-500'"></i>Mínimo 8 caracteres</li>
              </ul>
            </ng-template>
          </p-password>
          @if(ngForm.submitted && passwordFormField && passwordFormField.invalid) {
            <small class="is-invalid">
              @if(passwordFormField.errors?.['required']) {
                Senha é obrigatório.
              }
              @else {
                Senha fora do padrão.
              }
            </small>
          }
        </div>

        <div class="text-center mt-8">
          <button type="submit" [disabled]="isLoading"
            class="bg-[#5897fb] text-white text-sm font-bold h-[50px] rounded-full shadow hover:shadow-lg w-full cursor-pointer disabled:opacity-50">
            {{ isCreatingAccount() ? 'Criar conta' : 'Entrar' }}
          </button>

          <button id="google-btn" type="button" (click)="authService.loginWithGoogle()"
            class="mt-6 flex items-center justify-center text-sm font-bold h-[50px] rounded-full border-1 border-solid border-gray-400 hover:border-gray-500 w-full
             cursor-pointer text-[#717783]">
            <img src="assets/images/google-logo.svg" alt="Google Logo" class="google-logo-icon mr-2">
            Continuar com Google
          </button>

          <button type="button" (click)="loginAsGuest()" [disabled]="isLoading"
            class="mt-6 flex items-center justify-center text-sm font-bold h-[50px] rounded-full border-1 border-solid border-gray-400 hover:border-gray-500 w-full
              cursor-pointer text-[#717783] disabled:opacity-50">
            Continuar como convidado
          </button>
        </div>
      </form>
    </ng-template>
    <ng-template #footer>
      <div class="flex gap-4 mt-1"></div>
    </ng-template>
  </p-card>
</div>