<p-toast />

<p-toolbar class="fixed-header">
    <div class="p-toolbar-group-start">
        <img src="assets/images/gpt-logo-5.png" alt="Gestão de Planos de Telefonia" class="logo clickable" (click)="navigate('')" />
    </div>
    
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-home" [rounded]="false" [text]="true" class="header-button mr-2" pTooltip="Tela Inicial" tooltipPosition="left" size="large" (onClick)="navigate('')"/>
        <p-button icon="pi pi-users" [rounded]="false" [text]="true" class="header-button mr-2" pTooltip="Clientes" tooltipPosition="left" size="large" (onClick)="navigate('clientes')"/>
        <p-button icon="pi pi-phone" [rounded]="false" [text]="true" class="header-button" pTooltip="Planos" tooltipPosition="left" size="large" (onClick)="navigate('planos')"/>
    </div>
</p-toolbar>

<div class="page-padding page-background">
    <router-outlet></router-outlet>
</div>