@use 'themes.scss';

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: contents;
}

.logo {
    height: 40px;
    cursor: pointer;
}

.page-padding {
    padding: 0 2rem;
}

.loading-icon {
    font-size: 5rem;
    top: 50%;
    left: 45%;
    position: absolute;
    color: var(--main-color);
    z-index: 1;
}

::ng-deep {
    .app-header .p-toolbar {
        border: unset;
        border-radius: unset;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--bar-color);
        padding: 0.2rem;
    }
  
    .header-button .p-button {
        color: var(--bar-icon-color);
    }
  
    .p-toolbar-group-start {
        margin-left: 1.5rem;
    }
  
    .p-toolbar-group-end {
        margin-right: 2rem;
    }
}